* {
    font-family: 'Ubuntu';
}

html, body {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0 auto;

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5em;
        background-color: #003566;
        color: white;
    
        h1 {
            margin: 0;
        }

        nav {
            display: flex;
            align-items: center;
    
            a {
                margin: 0.5em;
                padding: 0.7em;
                color: white;
                text-decoration: none;
                border-radius: 0.5em;
            }

            a:hover {
                background-color: #004e97;
                color: white;
            }
        }
    }
    
    main {
        min-height: 30em;
        padding: 2em 4em;
        margin: 0 auto;
        margin-bottom: 5em;
        text-align: center;

        h3 {
            margin-bottom: 1em;
        }

        table {
            margin: 0 auto;
            font-size: 110%;
            max-width: 20em;
            
            th {
                border: none;
            }

            td {
                a {
                    padding: 10px;
                    width: 100%;
                    border-radius: 3px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                    background-color: #004e97;
                    color: white;
                    text-decoration: none;
                }
                a:hover {
                    background-color: #003566;
                    color: white;
                }
            }
        }

        p {
            text-align: center;
            margin: 0.5em 0;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1em;

            margin: 0 auto;
            min-width: 20em;
            max-width: 50%;

            border-radius: 1em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 2em;

            input {
                margin: 0 auto;
                margin-bottom: 1em;
                text-align: center;
                border: none;
                border-bottom: 1px solid gray;
                width: 75%;
            }
            input:focus{
                outline: none;
            }
            input[type="submit"] {
                text-align: center;
                margin: 0 auto;
                width: 10em;
                background-color: #004e97;
                color: white;
            }
            input[type="submit"]:hover {
                background-color: #003566;
                color: white;
            }

            fieldset {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                section {
                    display: flex;
                    gap: 0.6em;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }

                article {
                    display: inline-flex;
                    align-items: baseline;
                    gap: 5px;
                }

                label {
                    width: 5em;
                    text-align: right;
                }

                div {
                    padding: 0.5em;
                }
            }

            fieldset.the-last-one {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
            }

            .form-control {
                border: none;
            }
        }

        svg {
            height: 35em;
            margin-top: 2em;
        
            .bc { fill: #000000; }
            .tree { fill:lime;stroke:yellow;stroke-width:1; }
            .scaleStar:hover {
                animation-name: starChanged;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                transform-origin: 50% 10%;
            }
            .rotate25 {
                animation-name: treeChanged;
                animation-duration: 4s;
                animation-delay: 0ms;
                animation-iteration-count: infinite;
                transform-origin: 50% 50%;
            }
            .rotate50 {
                animation-name: treeChanged;
                animation-duration: 4s;
                animation-delay: 100ms;
                animation-iteration-count: infinite;
                transform-origin: 50% 50%;
            }
            .rotate75 {
                animation-name: treeChanged;
                animation-duration: 4s;
                animation-delay: 300ms;
                animation-iteration-count: infinite;
                transform-origin: 50% 50%;
            }
            @keyframes treeChanged {
                from { transform: rotateY(0deg); }
                to { transform: rotateY(360deg); }
            }
            @keyframes starChanged {
                0% { transform: scale(1); }
                50% { transform: scale(1.5); }
                100% { transform: scale(1); }
            }
        }
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        height: 5em;
        width: 100%;
        background-color: #003566;
        text-align: center;

        h1 {
            color: white;
        }
    }
}