* {
  font-family: "Ubuntu";
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0 auto;
}
body header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  background-color: #003566;
  color: white;
}
body header h1 {
  margin: 0;
}
body header nav {
  display: flex;
  align-items: center;
}
body header nav a {
  margin: 0.5em;
  padding: 0.7em;
  color: white;
  text-decoration: none;
  border-radius: 0.5em;
}
body header nav a:hover {
  background-color: #004e97;
  color: white;
}
body main {
  min-height: 30em;
  padding: 2em 4em;
  margin: 0 auto;
  margin-bottom: 5em;
  text-align: center;
}
body main h3 {
  margin-bottom: 1em;
}
body main table {
  margin: 0 auto;
  font-size: 110%;
  max-width: 20em;
}
body main table th {
  border: none;
}
body main table td a {
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #004e97;
  color: white;
  text-decoration: none;
}
body main table td a:hover {
  background-color: #003566;
  color: white;
}
body main p {
  text-align: center;
  margin: 0.5em 0;
}
body main form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  min-width: 20em;
  max-width: 50%;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em;
}
body main form input {
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  border: none;
  border-bottom: 1px solid gray;
  width: 75%;
}
body main form input:focus {
  outline: none;
}
body main form input[type=submit] {
  text-align: center;
  margin: 0 auto;
  width: 10em;
  background-color: #004e97;
  color: white;
}
body main form input[type=submit]:hover {
  background-color: #003566;
  color: white;
}
body main form fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body main form fieldset section {
  display: flex;
  gap: 0.6em;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main form fieldset article {
  display: inline-flex;
  align-items: baseline;
  gap: 5px;
}
body main form fieldset label {
  width: 5em;
  text-align: right;
}
body main form fieldset div {
  padding: 0.5em;
}
body main form fieldset.the-last-one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
body main form .form-control {
  border: none;
}
body main svg {
  height: 35em;
  margin-top: 2em;
}
body main svg .bc {
  fill: #000000;
}
body main svg .tree {
  fill: lime;
  stroke: yellow;
  stroke-width: 1;
}
body main svg .scaleStar:hover {
  -webkit-animation-name: starChanged;
          animation-name: starChanged;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 50% 10%;
}
body main svg .rotate25 {
  -webkit-animation-name: treeChanged;
          animation-name: treeChanged;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
body main svg .rotate50 {
  -webkit-animation-name: treeChanged;
          animation-name: treeChanged;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
body main svg .rotate75 {
  -webkit-animation-name: treeChanged;
          animation-name: treeChanged;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
@-webkit-keyframes treeChanged {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes treeChanged {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes starChanged {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes starChanged {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 5em;
  width: 100%;
  background-color: #003566;
  text-align: center;
}
body footer h1 {
  color: white;
}/*# sourceMappingURL=styles.css.map */